/* You can add global styles to this file, and also import other style files */
::ng-deep ._custom_input_margin_class_0px > .mat-form-field-wrapper{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding: 0;
}

.__center{
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


._f4{
  font-size: large;
}

._f5{
  font-size: larger;
}

._f6{
  font-size: 2rem;
}

._br2{
  border-radius: 10px;
}